# Root workspace metadata
/.metadata/

# Spring Boot Backend workspace metadata
*.metadata/

# Build output
Spring-Boot-Backend/bin/
Spring-Boot-Backend/target/
*.settings/
*.factorypath
# Eclipse
*.metadata/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Java
target/

# Node
node_modules/

*.project